extends layout

block content
  h1= title
  p.des Example Usage
  code.blue localhost:3000/new/http://www.Google.com
  p.des Example Output is JSON
  code.blue {"url":"http://www.Google.com","shortUrl":"localhost:3000/SyhGGKpYx"}